@media(-webkit-min-device-pixel-ratio:2){
    .main-background{
        width: 100%;
        background-image: url(../images/bg-home@2x.png);
        background-position: center;
        background-size: cover;
        height: 760px;
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background{
        background:url(../fonts2/bg-home-s@2x.png) center 574px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--valorant{
        background:url(../images/pxhe8JQ4dsQY.png) top no-repeat;
        background-size:1480px 832px
    }
    .main-background--valorant-2{
        background:url(../images/val-bg%402x.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--valorant{
        background:url(../images/SVvY8YHiy8VS.png) center 414px no-repeat;
        background-size:450px
    }
    .main-background--valorant-2{
        background:url(../images/val-bg-mob%402x.png) center 414px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--lol{
        background:url(../images/lol-main%402x.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--lol{
        background:url(../images/lol-mob%402x.png) center 414px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--csgo{
        background:url(../images/ReTTMziZCfGI.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--csgo{
        background:url(../images/sHIldjAaXXRT.png) center 532px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--csgo-rank{
        background:url(../images/rqKV5jd52RWQ.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--csgo-rank{
        background:url(../images/3JHWXmcHTD0G.png) center 414px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--csgo-faceit{
        background:url(../images/SpHSODGACzrk.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--csgo-faceit{
        background:url(../images/E630uGNq0XFk.png) center 414px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--csgo-esea{
        background:url(../images/Y1zTSPcSZpy7.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--csgo-esea{
        background:url(../images/w4RADr9khzxW.png) center 414px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-background--dota{
        background:url(../images/dota-bg%402x.png) top no-repeat;
        background-size:1480px 832px
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (max-width:767px){
    .main-background--dota{
        background:url(../images/dota-bg%402x.png) center 414px no-repeat;
        background-size:450px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .container.page-not-found .hand-icon{
        background:url(../images/hand%402x.png) 50% no-repeat;
        background-size:135px 150px
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .modal-overlay .modal.checkout{
        background:url(../images/checkout%402x.jpg) 50% no-repeat;
        background-size:cover
    }
}
@media(-webkit-min-device-pixel-ratio:2){
    .main-blog .blog-hero-post{
        background:url(../images/single-post%402x.png) 50% no-repeat #050a20;
        background-size:cover
    }
}
@media(-webkit-min-device-pixel-ratio:2) and (min-width:1064px){
    .container .select-type .selectbox-wrap .selectbox.lol{
        background:url(../images/gametype-lol%402x.png) 50% no-repeat #050a20;
        background-size:cover
    }
    .container .select-type .selectbox-wrap .selectbox.valorant{
        background:url(../images/gametype-valorant%402x.png) 50% no-repeat #050a20;
        background-size:cover
    }
    .container .select-type .selectbox-wrap .selectbox.csgo{
        background:url(../images/gametype-csgo%402x.png) 50% no-repeat #050a20;
        background-size:cover
    }
    .container .select-type .selectbox-wrap .selectbox.dota{
        background:url(../images/gametype-dota%402x.png) 50% no-repeat #050a20;
        background-size:cover
    }
    .container .select-type .selectbox-wrap .selectbox.lost{
        background:url(../images/gametype-lost%402x.png) 50% no-repeat #050a20;
        background-size:cover
    }
}
