@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/babapro');

::-webkit-scrollbar {
    width: 8px;
    background-color: #292e38;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #292e38;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #007bff;
}

html {
    scroll-behavior: smooth;
    height:100%;
}

body {
    min-height: 100%;
    
    margin:0;
    padding:0; 
    background-color: #232222;
    font-family: Poppins;
    color: white;
}

a {
    text-decoration: none;
}

.main {
    background: rgb(19,71,186);
    background: linear-gradient(128deg, rgba(19,71,186,1) 17%, rgba(44,115,230,1) 100%);
    display: block;
    min-height: 100vh;
    min-width: 100vh;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 50px;
    margin-right: auto;
    font-size: 18px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: #f3f4fa;
    text-decoration: none;
}

nav ul {
    display: flex;
    margin-right: 50px;
    margin-left: auto;
    float: right;
    font-size: 16px;
}

nav ul li {
    color: white;
    margin: 20px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: #eef0f6;
    text-decoration: none;
}

.container-index {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-side {
    margin: 115px 100px 80px 100px;
    text-align: center;
}

.left-side p {
    margin-bottom: 40px;
    font-size: 18px;
}

.left-side h2 {
    font-size: 28px;
}

.left-side a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 13px 23px;
    border-radius: 20px;
    background: rgb(16, 92, 210);
    background: linear-gradient(315deg, rgb(38, 112, 224) 0%, rgb(0, 153, 255) 100%);
}

.left-side a:hover {
    color: #f3f4fa;
}

.left-side a i {
    margin-left: 4px;
    transform: rotate(-90deg);
}

.right-side {
    margin: 370px 60px 0px 0;
}

.right-side img {
    width: 100%;
}

.container-services {
    display: block;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    text-align: center;
}

.container-services h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.container-services p {
    text-align: center;
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.container-services h1, p {
    margin: 0;
}

.buy-button {
    color: white;
    font-size: 20px;
    margin-right: 40px;
}

.learn-button {
    color: white;
    font-size: 20px;
}

.medals-img {
    margin-top: 100px;
    position: relative;
    width: 700px;
    text-align: center;
    filter: drop-shadow(0 0 1rem rgb(212, 215, 8));
}

#learn-more {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
}

#learn-more h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 21px;
}

.learn-more-box {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    width: 95%;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(43, 43, 43);
    padding-bottom: 5%;
    margin-top: 50px;
}

.card ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card ul li {
    color: white;
    list-style: none;
    margin-top: 10px;
    padding-right: 40px;
}

#ex-1b {
    background-color: #16171b;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    width: 330px;
    height: 230px;
}

#ex-1m {
    background-color: #1b1c21;
    padding: 40px;
    border-radius: 20px;
    height: 150px;
}

#ex-1s ul {
    display: block;
    margin-right: 20px;
    margin-top: 30px;
}

#user-s {
    background-color: #16171b;
    padding-top: 10px;
    border-radius: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    height: 35px;
}

#pass-s {
    background-color: #16171b;
    padding-top: 10px;
    border-radius: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    height: 30px;
}

#ex-1b img {
    width: 220px;
    position: relative;
}

#ex-2b {
    background-color: #16171b;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    width: 330px;
    height: 230px;
}

#ex-2m {
    background-color: #1b1c21;
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    height: 100px;
}

.progress-bar {
    width: 250px;
    height: 30px;
    margin-top: 35px;
    margin-left: 25px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(17, 255, 0);
    background-color: black;
}

.percentage {
    display: block;
    height: 100%;
    background-color: rgb(26, 255, 0);
    border-radius: 5px;
    animation: progress 5000ms ease-in 1;
    animation-fill-mode: forwards;
    animation-delay: 2300ms;
}

.c {
    width: 5%;
}

@-webkit-keyframes progress {
	100% { width: 100%; }
}

.see-morearrw {
    margin-top: 6%;
    font-size: 17px;
    text-align: center;
}

.see-morearrw a {
    text-decoration: none;
    color: white;
}

.see-morearrw a:hover {
    color: #e2e2e2;
}

#see-more {
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgb(43, 43, 43);
    border-radius: 25px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
}

.seeh1 {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 21px;
}

.faq-container {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}

.accordion {
    color: #ffffff;
    cursor: pointer;
    padding: 23px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 26px;
}

.panel {
    margin: auto;
    width: 50%; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    padding: 0 140px 5.2px 0;
    font-size: 17px;
}

.active,
.accordion:hover {
    color: #e2e2e2;
}

.accordion:after {
    content: '\02795';
    font-size: 20px;
    float: right;
    margin-left: 5px;
    margin-top: 6px;
}

.active:after {
    content: "\2796";
}

.space {
    margin-left: 35px;
}

.our-services {
    display: block;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    text-align: center;
}

.ourh1 {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    grid-gap: 50px;
    justify-content: center;   
}

.column {
    width: 25%;
    padding: 0 10px;
}
  
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cards {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 400px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}

.cards h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cards p {
    padding: 15px;
    font-size: 19px;
}

.cards a {
    text-decoration: none;
    color: white;
}

.cards a:hover {
    color: #f3f4fa;
    text-decoration: none;
}

.hr-lines {
    width: 40%;
    margin: auto;
}

.main-lvlup {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: block;
    min-height: 100vh;
    min-width: 100vh;
    text-align: center;
}

.steamlvl {
    width: 40%;
    border-radius: 6%;
}

.friendlist {
    width: 41.5%;
    border-radius: 6%;
}

.container-lvlup {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container-lvlup h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.container-lvlup p {
    text-align: center;
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.container-lvlup h1, p {
    margin: 0;
}

#learn-morelvlup {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
}

#learn-morelvlup h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 21px;
}

.learn-more-box1 {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    margin-top: 50px;
    float: left;
    width: 25%;
    margin-left: 6.27%;
}

.learn-more-box1 h2 {
    padding-top: 15px;
}

.designlvll {
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 30px;
}

.steamlvll {
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 30px;
}

.friendlistl {
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
    height: 336px;
    margin-bottom: 30px;
}

.lvlupimg {
    border-color: transparent;
    border-radius: 20px;
    margin-top: 150px;
    width: 70%;
}

.container-comments {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container-comments h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.container-comments p {
    text-align: center;
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.container-comments h1, p {
    margin: 0;
}

.steamcommentsl {
    margin-top: 20px;
    width: 90%;
    border-radius: 20px;
    height: 336px;
    margin-bottom: 30px;
}

.learn-more-box2 {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    margin-top: 50px;
    float: left;
    width: 50%;
    margin-left: 9%;
}

.learn-more-box2 h2 {
    padding-top: 15px;
}

#buy-comments {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
}

.columncomments {
    float: left;
    width: 23.6%;
    padding: 0 10px;
    margin-top: 50px;
    padding-bottom: 70px;
}

.cardcomments {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 450px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}
  
@media screen and (max-width: 600px) {
    .columncomments {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cardcomments h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cardcomments p {
    padding: 10px;
    font-size: 16px;
}

.hr-linecomments {
    width: 60%;
    margin: auto;
}

.buycommentsh1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 21px;
}

.fa-bolt {
    transform: rotate(370deg);
} 

.buycomments {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 20px;
    background: rgb(225, 191, 0);
    border-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}

.learn-more-box3 {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    margin-top: 100px;
    float: left;
    width: 41%;
    margin-left: 6%;
    height: 350px;
}

.reportimg {
    width: 95%;
    border-radius: 10px;
}

.bannedimg {
    width: 85%;
    border-radius: 10px;
}

.learn-more-box3 h2 {
    font-size: 25px;
}

.steampointsimg {
    width: 90%;
    height: 80%;
    border-radius: 20px;
}

.learn-more-box4 {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    margin-top: 31px;
    float: left;
    width: 50%;
    margin-left: 26%;
    height: 530px;
}

.learn-more-box4 h2 {
    font-size: 28px;
}

.commendsimg {
    border-radius: 20px;
    width: 95%;
    height: 360px;
}

.learn-more-box5 {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    margin-top: 60px;
    float: left;
    width: 41%;
    margin-left: 6%;
    height: 460px;
}

.learn-more-box6 {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    margin-top: 100px;
    float: left;
    width: 41%;
    margin-left: 6%;
    height: 350px;
}

.trustimg {
    border-radius: 20px;
    width: 95%;
    height: 360px;
}

.queueimg {
    border-radius: 20px;
    width: 95%;
    height: 360px;
}

.winsimg {
    border-radius: 20px;
    width: 95%;
    height: 360px;
}

.genuinealyximg {
    border-radius: 20px;
    width: 90%;
    height: 360px;
}

.genuinepinsimg {
    border-radius: 20px;
    width: 90%;
    height: 360px;
}

.columngenuine {
    float: left;
    width: 23.9%;
    padding: 0 67.5px;
    margin-top: 50px;
    padding-bottom: 80px;
}

.cardgenuine {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 450px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}
  
@media screen and (max-width: 600px) {
    .columngenuine {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cardgenuine h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cardgenuine p {
    padding: 10px;
    font-size: 16px;
}

.hr-linegenuine {
    width: 60%;
    margin: auto;
}

#buy-genuinepins {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 340vh;
    min-width: 100vh;
}

.imagegenuine {
    width: 50%;
}

.mainsmm {
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    display: block;
    min-height: 100vh;
    min-width: 100vh;
}

.learnmoresmms {
    font-weight: 700;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 20px;
    background: rgb(16, 92, 210);
    background: linear-gradient(315deg, rgb(38, 112, 224) 0%, rgb(0, 153, 255) 100%);
    border-color: transparent;
    margin-top: 13px;
    font-size: 15px;
}

.learnmoresmm {
    font-weight: 700;
    text-decoration: none;
    padding: 16px 40px;
    border-radius: 20px;
    background: rgb(16, 92, 210);
    background: linear-gradient(315deg, rgb(38, 112, 224) 0%, rgb(0, 153, 255) 100%);
    border-color: transparent;
    margin-top: 35px;
    font-size: 15px;
}

.learnmoresmm a {
    color: white;
}

#buy-smm {
    margin-top: 15px;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
}

.mainmarket {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    display: block;
    min-height: 100vh;
    min-width: 100vh;
}

#similar-services {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 80vh;
    min-width: 100vh;
}

.cardssmm {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 450px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 2px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}

.columncommentsxp {
    float: left;
    width: 30%;
    padding: 0 143.1px;
    margin-top: 50px;
    padding-bottom: 70px;
}

.cardcommentsxp {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 460px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}
  
@media screen and (max-width: 600px) {
    .columncommentsxp {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cardcommentsxp h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cardcommentsxp p {
    padding: 10px;
    font-size: 16px;
}

.columncommentswins {
    float: left;
    width: 30%;
    padding: 0 34%;
    margin-top: 50px;
    padding-bottom: 70px;
}

.cardcommentswins {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 460px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}
  
@media screen and (max-width: 600px) {
    .columncommentswins {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cardcommentswins h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cardcommentswins p {
    padding: 10px;
    font-size: 16px;
}

.columnmarket {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.cardmarket {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 600px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}
  
@media screen and (max-width: 600px) {
    .columnmarket {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cardmarket h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cardmarket p {
    padding: 10px;
    font-size: 16px;
}

#buy-marketplace {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 180vh;
    min-width: 100vh;
}

.columnspotify {
    float: left;
    width: 23.6%;
    padding: 0 10px;
    margin-top: 50px;
    padding-bottom: 70px;
    margin-left: 722px;
}
  
@media screen and (max-width: 600px) {
    .columnspotify {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.cardspotify {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 5px;
    height: 450px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 25px;
    margin: 3px;
}

.cardspotify h1 {
    font-size: 31px;
    margin-top: 15px;
}

.cardspotify p {
    padding: 10px;
    font-size: 16px;
}

#secondary-block {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 60vh;
    min-width: 100vh;
}

.buytiktok {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 20px;
    background: #fd004d;
    border-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}

.buyspotify {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 20px;
    background: #50b95d;
    border-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}

.buyinstagram {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 20px;
    background: #fc5391;
    border-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}

.buyyoutube {
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 20px;
    background: #f1782d;
    border-color: transparent;
    margin-top: 50px;
    font-size: 16px;
    cursor: pointer;
}

.spotifysmm {
    background: linear-gradient(106.5deg, #4eb55b 43%, #020402 93%);
    display: block;
    min-height: 60vh;
    min-width: 100vh;
}

.tiktoksmm {
    background: linear-gradient(106.5deg, #002827 23%, #00aca6 93%);
    display: block;
    min-height: 60vh;
    min-width: 100vh;
}

.instagramsmm {
    background: linear-gradient(106.5deg, #f86f65 23%, #fc5391 93%);
    display: block;
    min-height: 60vh;
    min-width: 100vh;
}

.youtubesmm {
    background: linear-gradient(106.5deg, rgba(170, 8, 8, 0.91) 23%, rgba(93, 4, 4, 0.8) 93%);
    display: block;
    min-height: 60vh;
    min-width: 100vh;
}